/*
 _____,-----------------------,_____
 \    | STYLE TILES WITH SCSS |    /
 /____|-----------------------|____\
 ___________________________________
|,---------------------------------,|
||  +-------+ +-------+ +-------+  ||
||  +-------+ |       | |       |  ||
||            |       | |       |  ||
||  +-------+ +-------+ +-------+  ||
||  +-------+ +-------+ +-------+  ||
||  |       | |  \    | |       |  ||
||  |       | |    \  | |       |  ||
||  +-------+ +-------+ +-------+  ||
||_________________________________||
'-----------------------------------'

Documentation at
https://github.com/jeradg/style-tiles-with-scss

By Jerad Gallinger
http://jeradgallinger.ca
http://twitter.com/jeradg
http://codepen.io/jeradg
http://github.com/jeradg

Based on Samantha Warren's Style Tiles:
http://styletil.es/
http://www.alistapart.com/articles/style-tiles-and-how-they-work/

*/

/* Web fonts @import */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);


/* BASIC STYLING
-------------------------------- */

/* Colours */
$color-1: rgb(159,28,25);
$color-2: rgb(101,209,251);
$color-3: rgb(5,171,235);
$color-4: rgb(255,133,0);
$color-5: rgb(255,36,31);

$header-background: $color-1;
$body-background: lighten($color-1, 90%);
$typography-samples-background: $body-background;
$footer-background: $body-background;

/* Basic typography */
$heading-font-family: 'Open Sans', sans-serif;
$heading-color: desaturate(darken($color-1, 15%), 80%);

$body-font-family: 'Droid Serif', serif;
$body-font-size: 1.6em;
$body-line-height: 1.5;
$body-color: #222;

$body-link-font-family: $heading-font-family;
$body-link-color: $color-3;

$header-color: white; /* font color in <header> */

/* Basic button styling */
$button-1-background-color: $color-3;
$button-1-border-radius: 4px;
$button-1-padding: 1em;

$button-2-background-color: $color-5;
$button-2-border-radius: $button-1-border-radius;
$button-2-padding: $button-1-padding;

/* Basic texture swatch styling */
$texture-swatch-1-background: url("../img/pw_maze_white.png") top left repeat;
$texture-swatch-2-background: url("../img/white_paperboard.png") top left repeat;
$texture-swatch-3-background: url("../img/subtle_grunge.png") top left repeat;

/* end basic styling */


/* ADVANCED STYLING
-------------------------------- */
/* Main */
$main-background: $body-background;
$main-padding: 20px;

@mixin section-heading { /* e.g., h3's like "Possible colors", "Textures" */
  font: italic 1.3em $heading-font-family;
  color: #777;
  margin-bottom: .5em;
}

/* Header */
$header-padding: $main-padding;

@mixin header-h1 {
  //text-indent: -9999px; /*Uncomment this line if you're replacing the text with a logo. */
  font: bold 3em/1 $heading-font-family;
  color: $header-color;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: .75em;
}
  
@mixin header-h2 {
  font: bold 1.6em $heading-font-family;
  color: rgba($header-color, .95);
}

@mixin header-h3 {
  font: italic 1.2em $heading-font-family;
  color: rgba($header-color, .95);
}

@mixin header-h4 {
  font: .8em $body-font-family;
  color: rgba($header-color, .95);
}

/* Colour swatches */
$color-swatch-1: $color-1;
$color-swatch-2: $color-2;
$color-swatch-3: $color-3;
$color-swatch-4: $color-4;
$color-swatch-5: $color-5;

$color-swatch-height: 5em;

/* Texture swatches */
@mixin texture-swatch($texture-swatch-background) {
  background: $texture-swatch-background;
}

$texture-swatch-height: 8em;

/* Buttons */
@mixin button(
    $btn-padding,
    $btn-border-radius: false, // defaults to no border radius
    $btn-background: $color-1, // defaults to color-1
    $btn-background-hover: darken($btn-background, 15%), // defaults to $btn-background value
    $btn-font: bold 1.25em/1 $heading-font-family, // default
    $btn-letter-spacing: 1px, // default
    $btn-color: lighten($btn-background, 60%), // defaults to $btn-background value
    $btn-text-transform: true, // defaults to text-transform: uppercase
    $btn-text-shadow: 0px -1px 0px darken($btn-background, 15%), // defaults to $btn-background value
    $btn-transition: all 0.2s ease
  ) {
  background: $btn-background;
  @if $btn-border-radius {
    border-radius: $btn-border-radius;
  }
  color: $btn-color;
  font: $btn-font;
  letter-spacing: $btn-letter-spacing;
  padding: $btn-padding;
  text-align: center;
  text-decoration: none;
  @if $btn-text-transform {
    text-transform: uppercase;
  }
  text-shadow: $btn-text-shadow;
  transition: $btn-transition;
  
  &:focus,
  &:hover,
  &:active {
    background: $btn-background-hover;
  }
}

/* Typography samples */
@mixin typography-sample-h3 {
  font: bold 2.4em/1.25 $heading-font-family;
  margin-bottom: .25em;
  color: $heading-color;
}

@mixin typography-sample-h4 {
  font: italic 1.5em/1.25 $body-font-family;
  margin-bottom: .25em;
  color: $heading-color;
}

@mixin typography-sample-p {
  font: 1em/1.5 $body-font-family;
  color: $body-color;
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}

@mixin typography-sample-a {
  font: bold 1em $body-link-font-family;
  color: $body-link-color;
  text-decoration: none;
  &:hover {
    color: darken(saturate($body-link-color, 50%), 10%);
  }
}

@mixin typography-samples {
  background: $typography-samples-background;
  padding: 0;
  @media (min-width: 800px) {
    padding: 20px;
  }
}

/* Adjectives */

@mixin adjective(
    $adjective-font,
    $adjective-color: $color-3 // default
  ) {
  color: $adjective-color;
  font: $adjective-font;
}

/* Footer */
$footer-padding: $main-padding;
$footer-background: $main-background;

$footer-color: white;

@mixin footer {
  padding: $footer-padding;
  font: italic 1em/1.5 $heading-font-family;
  color: $body-color;
    a {
      font-weight: bold;
      color: $color-3;
      text-decoration: none;
    }
}
/* end advanced styling */


/* SETTINGS
-------------------------------- */

/* Typography samples settings */
$font-details-font: .75em/1 $body-font-family;

@mixin font-details {
  margin-top: .5em;
  margin-bottom: 2em;
  font: $font-details-font;
  color: lighten($body-color, 30%);
  .font-color {
    font-style: italic;
  }
}

/* Grid settings */
$grid-padding: 2em;

/* Swatch grid settings (for the boxes containing Possible Colors and Textures */
$swatch-border: 4px solid white;
$swatch-shadow: 0px 0px 6px 0px rgba(0,0,0,.25);
$swatch-margin: 2%;
  
/* Footer */


/* end settings */



/* ================================================== */

/* Meyer Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
-------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Clearfix
-------------------- */

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* General styling
-------------------- */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $body-background;
  font: $body-font-size $body-font-family;
  line-height: $body-line-height;
}

header, .main, footer {
  max-width: 1300px;
  margin: 0 auto;
}

/* Header
-------------------- */

.header-wrapper {
  background: $header-background;
}

header {
  padding: $header-padding;
  background: $header-background;
}

header h1, header hgroup {
  position: relative;
  float: left;
}

header h1 {
  @include header-h1;
}

header h2 {
  @include header-h2;
}

header h3 {
  @include header-h3;
}

header h4 {
  @include header-h4;
}

.project-title {
  position: relative;
  float: left; 
}

/* Main
-------------------- */

.main {
  padding: $main-padding;
  background: $main-background;
}

.section-heading {
  @include section-heading;
}

.main p {
  margin-bottom: .5em;
}

section {
  margin-bottom: 2em;
}

/* Swatches
-------------------- */

[class*="swatch-"] {
  height: $color-swatch-height;
  border: $swatch-border;
  box-shadow: $swatch-shadow;
}

.color-swatch-1 {
  background: $color-swatch-1;
}

.color-swatch-2 {
  background: $color-swatch-2;
}

.color-swatch-3 {
  background: $color-swatch-3;
}

.color-swatch-4 {
  background: $color-swatch-4;
}

.color-swatch-5 {
  background: $color-swatch-5;
}

/* Texture swatches
-------------------- */

[class*="texture-swatch-"] {
  overflow: hidden;
  height: $texture-swatch-height;
  border: $swatch-border;
  box-shadow: $swatch-shadow;
}

.texture-swatch-1 {
  @include texture-swatch($texture-swatch-1-background);
}

.texture-swatch-2 {
  @include texture-swatch($texture-swatch-2-background);
}

.texture-swatch-3 {
  @include texture-swatch($texture-swatch-3-background);
}

/* Buttons
--------------------- */

[class*="button-"] {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
}

.button-1 {
  @include button(
    $button-1-padding, // padding
    $button-1-border-radius, // border radius
    $button-1-background-color, // background color
    darken($button-1-background-color, 15%) // hover background color
  );
}

.button-2 {
  @include button(
    $button-2-padding, // padding
    $button-2-border-radius, // border radius
    $button-2-background-color, // background color
    darken($button-2-background-color, 15%) // hover background color
  );
}

/* Typography samples
--------------------- */

.typography-samples {
  @include typography-samples
}

h3.typography-sample {
  @include typography-sample-h3;
}

h4.typography-sample {
  @include typography-sample-h4;
}

p.typography-sample {
  @include typography-sample-p;
}

a.typography-sample {
  @include typography-sample-a;
}

p[class*="font-details-"] {
  @include font-details;
}

/* Adjectives
-------------------- */
.adjective-1 {
  @include adjective(italic 1.6em/1 $heading-font-family, $color-1);
}

.adjective-2 {
  @include adjective(bold 1.25em/1.25 $body-font-family, $color-3);
}
.adjective-3 {
  @include adjective(1.5em/1 $heading-font-family, $color-4);
}

.adjective-4 {
  @include adjective(1.6em/1.15 $heading-font-family, $color-2);
}

.adjective-5 {
  @include adjective(bold italic 3em/.7 $heading-font-family, $color-5);
}

.adjective-6 {
  @include adjective(bold italic 1.8em/1.1 $body-font-family, $color-3);
}

/* Footer
-------------------- */
.footer-wrapper {
  background: $footer-background;
}

footer {
  @include footer;
}

/* Grids
based on Chris Coyier's Dont Overthink It Grids
http://css-tricks.com/dont-overthink-it-grids/
-------------------- */

[class*='col-'] { float: left; }

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 { 
  width: 100%; /* Single-column by default */
  @media ( min-width: 800px ) { /* 2-column if viewport is wide enough*/
    width: 50%;
  }
}

.col-1-3 { 
  width: 100%;
  @media ( min-width: 800px ) {
    width: 33.3333%;
  }
}

[class*="col-"] { 
  padding: 0;
  @media ( min-width: 800px ) {
    padding-right: $grid-padding; 
  }
}

[class*="col-"]:last-of-type { padding-right: 0; }

/* Swatch grids

  [Want to add more swatch column options?

  Formula for calculating swatch width:

  width: (100% - ($swatch-margin * (y - 1))) / y;

  where y = number of swatches in a grid row]

*/

[class*='swatch-'] { float: left; }

.swatchgrid:after {
  content: "";
  display: table;
  clear: both;
}

.swatch-1-2 { 
  width: ( 100% - ( $swatch-margin * ( 1 ) ) ) / 2; 
}

.swatch-1-3 { 
  width: ( 100% - ( $swatch-margin * ( 2 ) ) ) / 3; 
}

.swatch-1-4 { 
  width: ( 100% - ( $swatch-margin * ( 3 ) ) ) / 4; 
}

.swatch-1-5 { 
  width: ( 100% - ( $swatch-margin * ( 4 ) ) ) / 5; 
}

[class*="swatch-"] { margin-right: $swatch-margin; }

[class*="swatch-"]:last-of-type { margin-right: 0; }